asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
automium==0.2.6
automium-web==0.1.1
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
defusedxml==0.7.1
distlib==0.3.4
Django==4.0.2
django-cors-headers==3.11.0
django-cors-middleware==1.5.0
django-crispy-forms==1.14.0
django-environ==0.8.1
django-extensions==3.1.3
djangorestframework==3.13.1
environs==9.5.0
Faker==13.0.0
filelock==3.6.0
Flask==2.0.3
gunicorn==20.1.0
httpie==3.0.2
idna==3.3
iniconfig==1.1.1
install==1.3.5
itsdangerous==2.1.0
Jinja2==3.0.3
kafka-python==2.0.2
legacy==0.1.6
MarkupSafe==2.1.0
marshmallow==3.14.1
meeting==0.0.1a1
multidict==6.0.2
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pycodestyle==2.8.0
Pygments==2.11.2
pymongo==4.0.1
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.1
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
tomli==2.0.1
typing==3.7.4.3
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.1
Werkzeug==2.0.3
whitenoise==6.0.0
